<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="skimi">
        <meta name="keywords" content="skimi">
        <meta name="author" content="skimi">
        <link rel="icon" href="{% static '/assets/images/skimi.png' %}" type="image/x-icon" />
        <title>Skimi</title>
    
        <!--Google font-->
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&amp;display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&amp;display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.1.0/cropper.css" integrity="sha512-iAcZ4OrGhQ7KDqtM+LMc+iuv63aJ9O7hPyWBzCXsrZYuhJ6jhdeh40+hf9o4QmZVu8QrH/cWy/JTmoKNOL4Urw==" crossorigin="anonymous" />
        <link rel="stylesheet" href="{% static 'blog/main.css' %}">
    
        <!-- Theme css -->
        <link id="change-link" rel="stylesheet" type="text/css" href="{% static '/assets/css/style.css' %}">
</head>
<body>
  {% if user.is_authenticated %}
    <!-- header start -->
    <header>
      <div class="mobile-fix-menu"></div>
      <div class="container-fluid custom-padding">
          <div class="header-section">
              <div class="header-left">
                  <div class="brand-logo">
                      <a href="{% url 'blog-home' %}">
                          <img src="{% static '/assets/images/skimi.png' %}" alt="logo" class="img-fluid blur-up lazyload" width="70px" height="50px">
                      </a>
                  </div>
                  <div class="search-box">
                      <i data-feather="search" class="icon iw-16 icon-light"></i>
                      <input type="text" class="form-control search-type" placeholder="find friends...">
                      <div class="icon-close">
                          <i data-feather="x" class="iw-16 icon-light"></i>
                      </div>
                      <div class="search-suggestion">
                          <span class="recent">recent search</span>
                          
                      </div>
                  </div>
                  <ul class="btn-group">
                      <!-- home -->
                      <li class="header-btn home-btn">
                          <a class="main-link" href="{% url 'blog-home' %}">
                              <i class="icon-light stroke-width-3 iw-16 ih-16" data-feather="home"></i>
                          </a>
                      </li>
                      <!-- add friend -->
                      <li class="header-btn custom-dropdown dropdown-lg add-friend">
                          <a class="main-link" href="javascript:void(0)" data-bs-toggle="dropdown" aria-haspopup="true"
                              aria-expanded="false">
                              <i class="icon-light stroke-width-3 iw-16 ih-16" data-feather="user-plus"></i>
                          </a>
                      </li>
                  </ul>
              </div>
              <div class="header-right">
                  <div class="post-stats">
                      <ul>
                          <li>
                              <a class="mr-2" href="{% url 'user-posts' user %}"><h3>{{user.profile.profile_posts.count}}</h3>
                              <span>total posts</span></a>
                          </li>
                          <li>
                              <a href="{% url 'friend:list' user.id %}"><h3>{{user.friends.all|length}}</h3>
                              <span>total friends</span></a>
                          </li>
                      </ul>
                  </div>
                  <ul class="option-list">
                      <!-- message -->
                      <li class="header-btn custom-dropdown dropdown-lg btn-group message-btn">
                          <a class="main-link" href="{% url 'room-enroll' %}" aria-haspopup="true"
                              aria-expanded="false">
                              <i class="icon-light stroke-width-3 iw-16 ih-16" data-feather="message-circle"></i><span
                                  class="count success">0</span>
                          </a>
                      </li>
                      <!-- mobile app button -->
                      <li class="header-btn custom-dropdown d-md-none d-block app-btn">
                          <a class="main-link" href="javascript:void(0)">
                              <i class="icon-light stroke-width-3 iw-16 ih-16" data-feather="grid"></i>
                          </a>
                          <div class="overlay-bg app-overlay"></div>
                          <div class="app-box">
                              <div class="row">
                                  <div class="col-4">
                                      <div class="app-icon">
                                          <a href="{% url 'blog-home' %}">
                                              <div class="icon">
                                                  <i data-feather="activity" class="bar-icon"></i>
                                              </div>
                                              <h5>Newsfeed</h5>
                                          </a>
                                      </div>
                                  </div>
                                  <div class="col-4">
                                      <div class="app-icon">
                                          <a href="{% url 'all-save' %}">
                                              <div class="icon">
                                                  <i data-feather="bookmark" class="bar-icon"></i>
                                              </div>
                                              <h5>Saved Posts</h5>
                                          </a>
                                      </div>
                                  </div>
                                  <div class="col-4">
                                      <div class="app-icon">
                                          <a href="#">
                                              <div class="icon">
                                                  <i data-feather="users" class="bar-icon"></i>
                                              </div>
                                              <h5>All Users</h5>
                                          </a>
                                      </div>
                                  </div>
                                  <div class="col-4">
                                      <div class="app-icon">
                                          <a href="#">
                                              <div class="icon">
                                                  <i data-feather="headphones" class="bar-icon"></i>
                                              </div>
                                              <h5>music</h5>
                                          </a>
                                      </div>
                                  </div>
                                  <div class="col-4">
                                      <div class="app-icon">
                                          <a href="{% url 'user-posts' user %}">
                                              <div class="icon">
                                                  <i data-feather="edit" class="bar-icon"></i>
                                              </div>
                                              <h5>My Post</h5>
                                          </a>
                                      </div>
                                  </div>
                                  <div class="col-4">
                                      <div class="app-icon">
                                          <a href="{% url 'all-like' %}">
                                              <div class="icon">
                                                  <i data-feather="heart" class="bar-icon"></i>
                                              </div>
                                              <h5>Liked Posts</h5>
                                          </a>
                                      </div>
                                  </div>
                                  <div class="col-4">
                                      <div class="app-icon">
                                          <a href="#">
                                              <i data-feather="video" class="bar-icon"></i>
                                              <div class="tooltip-cls">
                                                  <span>Videos</span>
                                              </div>
                                          </a>
                                      </div>
                                  </div>
                                  <div class="col-4">
                                      <div class="app-icon">
                                          <a href="{% url 'logout' %}">
                                              <i data-feather="log-out" class="bar-icon"></i>
                                          </a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </li>
                      <!-- notification -->
                      <li class="header-btn custom-dropdown dropdown-lg btn-group notification-btn">
                          <a class="main-link" href="{% url 'show-notifications' %}" aria-haspopup="true"
                              aria-expanded="false">
                              <i class="icon-light stroke-width-3 iw-16 ih-16" data-feather="bell"></i><span
                                  class="count warning">0</span>
                          </a>
                          
                      </li>
                      <!-- profile -->
                      <li class="header-btn custom-dropdown profile-btn btn-group">
                          <a class="main-link" href="javascript:void(0)" data-bs-toggle="dropdown" aria-haspopup="true"
                              aria-expanded="false">
                              <i class="icon-light stroke-width-3 d-sm-none d-block iw-16 ih-16"
                                  data-feather="user"></i>
                              <div class="media d-none d-sm-flex">
                                  <div class="user-img">
                                      <img src="{{ user_profile.image.url }}"
                                          class="img-fluid blur-up lazyload bg-img" alt="user">
                                      <span class="available-stats online"></span>
                                  </div>
                                  <div class="media-body d-none d-md-block">
                                      <h4>{{user.username}}</h4>
                                      <span>active now</span>
                                  </div>
                              </div>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right">
                              <div class="dropdown-header">
                                  <span>profile</span>
                                  <div class="mobile-close">
                                      <h5>close</h5>
                                  </div>
                              </div>
                              <div class="dropdown-content">
                                  <ul class="friend-list">
                                      <li>
                                          <a href="{% url 'profile' %}">
                                              <div class="media">
                                                  <i data-feather="user"></i>
                                                  <div class="media-body">
                                                      <div>
                                                          <h5 class="mt-0">Profile</h5>
                                                          <h6>Profile preview & settings</h6>
                                                      </div>
                                                  </div>
                                              </div>
                                          </a>
                                      </li>
                                      <li>
                                          <a href="{% url 'public-profile' user %}">
                                              <div class="media">
                                                  <i data-feather="user"></i>
                                                  <div class="media-body">
                                                      <div>
                                                          <h5 class="mt-0">Public Profile</h5>
                                                          <h6>Public Profile preview</h6>
                                                      </div>
                                                  </div>
                                              </div>
                                          </a>
                                      </li>
                                      <li>
                                          <a href="{% url 'profile' %}">
                                              <div class="media">
                                                  <i data-feather="settings"></i>
                                                  <div class="media-body">
                                                      <div>
                                                          <h5 class="mt-0">setting & privacy</h5>
                                                          <h6>all settings & privacy</h6>
                                                      </div>
                                                  </div>
                                              </div>
                                          </a>
                                      </li>
                                      <li>
                                          <a href="#">
                                              <div class="media">
                                                  <i data-feather="help-circle"></i>
                                                  <div class="media-body">
                                                      <div>
                                                          <h5 class="mt-0">help & support</h5>
                                                          <h6>browse help here</h6>
                                                      </div>
                                                  </div>
                                              </div>
                                          </a>
                                      </li>
                                      <li>
                                          <a href="{% url 'logout' %}">
                                              <div class="media">
                                                  <i data-feather="log-out"></i>
                                                  <div class="media-body">
                                                      <div>
                                                          <h5 class="mt-0">log out</h5>
                                                      </div>
                                                  </div>
                                              </div>
                                          </a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
    </header>
    <!-- header end -->

      <!-- page body start -->
      <div class="page-body container-fluid custom-padding profile-page">

        <!-- sidebar panel start -->
        <div class="sidebar-panel">
            <div class="main-icon">
                <a href="{% url 'post-create' %}">
                    <i data-feather="plus" class="bar-icon"></i>
                </a>
            </div>
            <ul class="sidebar-icon">
                <li>
                    <a href="{% url 'blog-home' %}">
                        <i data-feather="activity" class="bar-icon"></i>
                        <div class="tooltip-cls">
                            <span>Newsfeed</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'all-save' %}">
                        <i data-feather="bookmark" class="bar-icon"></i>
                        <div class="tooltip-cls">
                            <span>Saved Posts</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i data-feather="video" class="bar-icon"></i>
                        <div class="tooltip-cls">
                            <span>Videos</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i data-feather="users" class="bar-icon"></i>
                        <div class="tooltip-cls">
                            <span>All Users</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i data-feather="headphones" class="bar-icon"></i>
                        <div class="tooltip-cls">
                            <span>Music</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'user-posts' user %}">
                        <i data-feather="edit" class="bar-icon"></i>
                        <div class="tooltip-cls">
                            <span>My Posts</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'all-like' %}">
                        <i data-feather="heart" class="bar-icon"></i>
                        <div class="tooltip-cls">
                            <span>Liked Posts</span>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="main-icon">
                <a href="{% url 'logout' %}">
                    <i data-feather="log-out" class="bar-icon"></i>
                </a>
            </div>
        </div>
        <!-- sidebar panel end -->

        {% if not all_rooms %}
        <span class="container">You need to be friends wih someone to chat</span>
        {% endif %}

<div class="col-md-8">

    <!-- ALL CHATROOMS-->
    <div class="px-0">
        <div class="bg-white">

        <div class="">
            <div class="list-group rounded-0">

            {% for friend in all_rooms %}
            
            {% if friend.friend == request.user %}   
                <div class="list-group-item list-group-item-action list-group-item-light rounded-0">
                    <div class="media">
                        <div class="img-cont2">
                            <img src="{{friend.author.profile.image.url}}" alt="room" width="50" height="50" class="rounded-circle">
                            {% if friend.friend.profile.is_online %}
                                <span class="online-circle2"></span>  
                            {% else %}
                                <span class="offline-circle2"></span>
                            {% endif %}
                        </div>
                        <div class="media-body ml-4">
                            <div class="d-flex align-items-center justify-content-between mb-3">
                                <h6 class="mb-0">
                                    {{friend.author}}
                                </h6>
                                <small class="small font-weight-bold">{{friend.chats.all.last.date}}</small>
                            </div>
                            <p class="font-italic text-muted mb-0 text-small d-inline">
                                {% if friend.chats.all.last.text %}
                                    
                                    {% if friend.chats.all.last.author == request.user %}
                                        You : {{friend.chats.all.last.text|truncatechars_html:"30"}}
                                    {% else %}
                                        {{friend.chats.all.last.author}} : {{friend.chats.all.last.text|truncatechars_html:"30"}}
                                    {% endif %}
        
                                {% endif %}
                            </p>
                            <div class="float-right d-inline">
                                <a class="p-2 h5" href="{% url 'room-choice' friend.author.pk %}"><i class="fas fa-comment-alt"></i></a>
                                <a style="cursor:pointer;" class="p-2 h4" onclick="handleVCRedirect('{{friend.author.pk}}','{{request.user.username}}')"><i class="fas fa-video"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="list-group-item list-group-item-action list-group-item-light rounded-0">
                    <div class="media">
                        <div class="img-cont2">
                            <img src="{{friend.friend.profile.image.url}}" alt="room" width="50" height="50" class="rounded-circle">
                            {% if friend.friend.profile.is_online %}
                                <span class="online-circle2"></span>  
                            {% else %}
                                <span class="offline-circle2"></span>
                            {% endif %}
                        </div>
                        <div class="media-body ml-4">
                            <div class="d-flex align-items-center justify-content-between mb-3">
                                <h6 class="mb-0">
                                    {{friend.friend}}
                                </h6>
                                <small class="small font-weight-bold">{{friend.chats.all.last.date}}</small>
                            </div>
                            <p class="font-italic text-muted mb-0 text-small d-inline">
                                {% if friend.chats.all.last.text %}
                                    
                                    {% if friend.chats.all.last.author == request.user %}
                                        You : {{friend.chats.all.last.text|truncatechars_html:"30"}}
                                    {% else %}
                                        {{friend.chats.all.last.author}} : {{friend.chats.all.last.text|truncatechars_html:"30"}}
                                    {% endif %}

                                {% endif %}
                            </p>
                            <div class="float-right d-inline">
                                <a class="p-2 h5" href="{% url 'room-choice' friend.friend.pk %}"><i class="fas fa-comment-alt"></i></a>
                                <a style="cursor:pointer;" class="p-2 h4" onclick="handleVCRedirect('{{friend.friend.pk}}','{{request.user.username}}')"><i class="fas fa-video"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% endfor %}

            </div>
        </div>
        </div>
    </div>
<br>
</div>

<br>

<!-- SIDEBAR -->
<div class="col-md-4">
    <div class="content-section">
        <h3>Friends ({{all_friends.count}})</h3>
        <br>
            <ul class="list-group">
                {% for frnd in all_friends %}
                    <li class="list-group-item list-group-item-light">{{frnd}}</li>
                {% endfor %}
            </ul>
        <br>
    </div>
</div>  

       <!-- conversation panel start -->
       <div class="conversation-panel xl-light">
        <div class="panel-header">
            <h2>friends</h2>
            <h5>start new conversation</h5>
            <div class="setting">
                <div class="setting-btn setting-dropdown">
                    <!-- ... -->
                </div>
            </div>
        </div>
        <div class="search-bar">
            <!-- ... -->
        </div>
        <div class="friend-section">
            <!-- <div class="header-section">
                <a data-bs-toggle="collapse" href="#accordion" role="button" aria-expanded="true" class="">
                    close friends
                    <div class="down-arrow">
                        <i data-feather="chevron-down" class="icon-theme iw-14 ih-14"></i>
                    </div>
                </a>
            </div> -->
            <div id="accordion" class="friend-list collapse show">
                <ul>
                    {% for user in random_users %}
                    <li class="friend-box user{{ forloop.counter }}">
                        <div class="media">
                            <div class="user-img">
                                <img src="{{ user.profile.image.url }}" class="img-fluid blur-up lazyload bg-img" alt="user">
                                <!-- Update the source of the image using user's profile image -->
                                <span class="available-stats"></span>
                            </div>
                            <div class="media-body">
                                <h5 class="user-name">{{ user.username }}</h5>
                                <h6>{% if user.profile.location %}{{ user.profile.location }}{% endif %}</h6>
                                <!-- Display user's location if available -->
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
       </div>  
       <!-- conversation panel end -->

    </div>
    <!-- page body end -->

      <!-- latest jquery-->
      <script src="{% static '/assets/js/jquery-3.6.0.min.js' %}"></script>

      <!-- popper js-->
      <script src="{% static '/assets/js/popper.min.js' %}"></script>
  
      <!-- slick slider js -->
      <script src="{% static '/assets/js/slick.js' %}"></script>
      <script src="{% static '/assets/js/custom-slick.js' %}"></script>
  
      <!-- feather icon js-->
      <script src="{% static '/assets/js/feather.min.js' %}"></script>
  
      <!-- emoji picker js-->
      <script src="{% static '/assets/js/emojionearea.min.js' %}"></script>
  
      <!-- Bootstrap js-->
      <script src="{% static '/assets/js/bootstrap.js' %}"></script>
  
      <!-- chatbox js -->
      <script src="{% static '/assets/js/chatbox.js' %}"></script>
  
      <!-- lazyload js-->
      <script src="{% static '/assets/js/lazysizes.min.js' %}"></script>
  
      <!-- theme setting js-->
      <script src="{% static '/assets/js/theme-setting.js' %}"></script>
  
      <!-- Theme js-->
      <script src="{% static '/assets/js/script.js' %}"></script>
  
      <script>
          feather.replace();
          $(".emojiPicker ").emojioneArea({
              inline: true,
              placement: 'absleft',
              pickerPosition: "top left ",
          });
      </script>

<script>
    async function handleVCRedirect(id1,name) {
        // let room = (parseInt(id1) > parseInt(id2)) ? "vcroom_" + id1 + "_" + {{request.user.id}} : "vcroom_" + {{request.user.id}} + "_" + id1;
        // room = room.toUpperCase()
        room = id1

        let response = await fetch(`/vc/get_token/?channel=${room}`)
        
        if(response.status == 200) {
            let data = await response.json()
            console.log(response);

            let UID = data.uid
            let token = data.token
            let room_name = data.room_name

            sessionStorage.setItem('UID', UID)
            sessionStorage.setItem('token', token)
            sessionStorage.setItem('room', room_name)
            sessionStorage.setItem('name', name)

            window.open('/vc/room/', '_blank')
        }
    }
    
</script>
 {% endif %}
</body>
</html>